* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(0, 0, 0);
}

.navbar-brand {
  position: relative;
}

.msg-container {
  width: 100%;
  max-width: 300px;
  background-color: aliceblue;
  padding: 12px;
  position: fixed;
  top: 40px;
  right: 10px;
  z-index: 1001;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.msg-container .redirect-button {
  align-self: flex-end;
}

.msg {
  width: 100%;
  margin-top: 15px;
  text-align: center;
  color: white;
}
.msg.success {
  text-align: center;
  color: white;
  background-color: rgb(146, 223, 146);
}
.msg.error {
  text-align: center;
  color: white;
  background-color: rgb(235, 96, 96);
}

#logo {
  width: 50px;
}

.logo-link {
  text-decoration: none !important;
}

.unmovie-title {
  color: aqua;
  font-size: 2rem;
  text-decoration: none;
}

.link-auth {
  padding: 3px 5px;
  color: rgb(0, 0, 0);
  background-color: aqua;
  text-decoration: none;
  transition: all 0.5s;
  border: 0.3px solid rgba(0, 255, 255, 0.192);
}
.link-auth:hover {
  color: aqua;
  background-color: rgb(0, 0, 0);
  text-decoration: none;
  border: 0.3px solid aqua;
}

#my-text-color {
  color: aqua;
}
#auth-row {
  justify-content: center;
  gap: 12px;
}

#login-container {
  border-radius: 10px;
  padding: 10px;
  border: 0.3px solid aqua;
}

#register-container {
  border-radius: 10px;
  padding: 10px;
  border: 0.3px solid aqua;
}

#my-btn {
  padding: 2px 6px;
  background-color: aqua;
}

#main-navbar {
  padding: 10px;
  width: 100%;
  display: flex;
  gap: 60px;
  background-color: black;
  position: fixed;
  top: 0;
  z-index: 100;
  border-bottom: 0.2px solid aqua;
}

#navbar {
  width: 100%;
  max-width: 200px;
}

#search-form {
  display: flex;
  margin: 0 auto;
  border-radius: 10px;
}

#btn-search {
  background-color: aqua;
}

.form-control {
  border: none;
  width: 90%;
  box-shadow: none;
}

#main-container {
  width: 100%;
  height: 100vh !important;
}

#footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 0;
  background-color: black;
  border-top: 0.2px solid aqua;
}

#footer .social-container {
  height: 100%;
  display: flex;
  align-items: center;
  color: aliceblue;
  justify-content: center;
}
